<div class="header justify-content-start">
    <h1>Produtos</h1>
    <hr>
</div>

<div class="row col-lg justify-content-end">
    <button class="btn btn-outline-info m-1" (click)="createProduct()">Novo Produto</button>
</div>
<hr>

<div class="col-lg justify-content-center">
    <table class="table">
        <thead class="thead text-center">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody *ngIf="productsObj.length > 0">
            <tr class="table-default" *ngFor="let item of pagedResult">
                <td class="text-center">{{item.productId}}</td>
                <td class="text-center">{{item.productName}}</td>
                <td class="text-center">R$ {{item.productValue}}</td>
                <td class="text-center">
                    <button class="btn btn-outline-secondary btn-sm m-1" type="button" (click)="updateProduct(item)">Editar</button>
                    <button class="btn btn-outline-danger btn-sm m-1" type="button" (click)="deleteProduct(item.productId)">Excluir</button>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="productsObj.length == 0">
            <tr class="table-default">
                <td colspan="4" class="text-center">Nenhum produto registrado</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div *ngIf="productsObj.length > 0">
        <mat-paginator [length]="this.productsObj.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" (selectedValueChange)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>