<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" rel="noopener noreferrer" href="#">UCDB Application Test</a>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item m-1">
                    <button class="nav-link btn btn-dark" (click)="linkClick('')">Home</button>
                </li>
                <li class="nav-item m-1">
                    <button class="nav-link btn btn-dark" (click)="linkClick('product')">Produtos</button>
                </li>
                <li class="nav-item m-1">
                    <button class="nav-link btn btn-dark" (click)="linkClick('order')">Pedidos</button>
                </li>
                <li class="nav-item m-1">
                    <button class="nav-link btn btn-dark" (click)="linkClick('about')">Sobre</button>
                </li>
            </ul>
        </div>
    </div>
</nav>